<div class="container-div">
<h2>Login Your Account</h2>
<form id="loginform" action="/login" method="POST">
    <label for="email">Enter your Email</label>
    <input type="email" name="login-user-email" id="email" placeholder="example@gmail.com">
    <label for="password">Password</label>
    <input type="password" name="login-user-email" id="password">
    <div class="btn-container">
        <button class="btn login" type="submit">login</button>
    <a class="btn register" href="/register">Register</a>
    </div>
    
</form>
</div>
