
<div>
<h2>My Profile</h2>
<h4>First Name:{{user.firstName}}</h4>
<h4>last Name:{{user.lastName}}</h4>
<h4>email Name:{{user.email}}</h4>
<form action="/logout" method="POST"> 
<button type="submit">logout</button>
</form>

</div>